{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<section class="pricing section">
    <div class="container-sm">
        <div class="pricing-inner section-inner">
            <div class="pricing-header text-center">
                <h2 class="section-title mt-0">Hey 👋 </h2>
                <br>
                <p class="section-paragraph mb-0"> 
                    Seems like that page does'nt exist. :( <br>
                    But dont worry there are plenty of interesting pages on Dashmap!<br>
                    Check out these ones!
                </p>
                <br>
                <div class="pricing-table-cta mb-8">
                    <a href="/home" class="btn btn-primary" role="button" aria-pressed="true">Back to Home</a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="btn btn-primary" role="button" aria-pressed="true">Surprise me!</a>
                </div>
                <div class="pricing-table-cta mb-8">

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}