{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">DashMap</h1>
                <h3 class="hero-title mt-0">Spatialized Intelligence</h3>
                <p class="hero-paragraph">
                    DashMap is an online platform that empowers you to make informed data driven decisions.
                    <ul class="pricing-table-features list-reset text-xs">
                        <li>
                            <span>Large datasets with over 200 variables</span>
                        </li>
                        <li>
                            <span>Stunning interactive dashboards</span>
                        </li>
                        <li>
                            <span>Open Source</span>
                        </li>
                        <li>
                            <span>Monthly Updates</span>
                        </li>
                        <li>
                            <span>FREE Forever</span>
                        </li>
                    </ul>
                </p>
                <div class="hero-cta">
                    <a class="btn btn-primary" href="/helsinki">Check it out!</a>
                    <a class="btn btn-primary" href="/support">Support</a>
                    
                </div>
        </div>

        <!-- Gif Image -->
        <div>
            <p style="float: right;">
                <img class="img-fluid" src="static/images/notebook.gif">
            </p>
        </div>
    </div>
</section>

<hr>
<h4 class="hero-title mt-0">Use Cases</h4>
<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-01.svg" alt="Feature 01">
                        </div>
                        <h4 class="feature-title mt-24">Decision Making</h4>
                        <p class="text-sm mb-0">Want to open a business? Don't know where and what to start? DashMap can help you decide based on real world data.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-02.svg" alt="Feature 02">
                        </div>
                        <h4 class="feature-title mt-24">Urban Planning</h4>
                        <p class="text-sm mb-0">With DashMap you can gain insights about demographics, segregation, mobility, real estate, economy and much more!</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-03.svg" alt="Feature 03">
                        </div>
                        <h4 class="feature-title mt-24">Marketing</h4>
                        <p class="text-sm mb-0">With DashMap you can find your core audience and target your campaigns geographically.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-04.svg" alt="Feature 04">
                        </div>
                        <h4 class="feature-title mt-24">Real Estate</h4>
                        <p class="text-sm mb-0"> Want to buy or sell a home? Not sure about the market price and the right neighborhood? DashMap allows you to view the key metrics in Real Estate for every postal code area.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-05.svg" alt="Feature 05">
                        </div>
                        <h4 class="feature-title mt-24">Relocation</h4>
                        <p class="text-sm mb-0">Moving to Finland but you're unsure where you want to live? You can understand your neighborhood before making any long term commitments.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="static/images/feature-icon-06.svg" alt="Feature 06">
                        </div>
                        <h4 class="feature-title mt-24">Data Journalism</h4>
                        <p class="text-sm mb-0">Writing an article? Dashmap will take care of the boring data so that you can focus on the engaging story!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Users from -->
<h4 class="hero-title mt-0">We have users from</h4>
<hr>
<section class="client">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img class="thumbnail img-responsive" src="static/images/aalto.png" height="80" />
        </div>
        <div class="col-md-2">
            <img class="thumbnail img-responsive" src="static/images/helsinki.png" height="80" />
        </div>
        <div class="col-md-2">
            <img class="thumbnail img-responsive" src="static/images/espoo.png" height="80" />
        </div>
        <div class="col-md-2">
            <img class="thumbnail img-responsive" src="static/images/vantaa.png" height="80" />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}