{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<section class="pricing section">
    <div class="container-sm">
        <div class="pricing-inner section-inner">
            <div class="pricing-header text-center">
                <h2 class="section-title mt-0">Become a part of DashMap!</h2>
                <p class="section-paragraph mb-0"> 
                    Hey 👋 <br>
                    If you like DashMap you can support us here.<br>
                    You can either contribute with code and expertize or with donations!
                </p>
            </div>
            <div class="pricing-tables-wrap">
                <div class="pricing-table">
                    <div class="pricing-table-inner is-revealing">
                        <div class="pricing-table-main">
                            <div class="pricing-table-header pb-24">
                                <span class="pricing-table-price-currency h3">Contribute 💻</span>
                                <div class="pricing-table-price">
                                    <ul class="pricing-table-features list-reset text-xs">
                                        <li>
                                            <span>Define the future of DashMap</span>
                                        </li>
                                        <li>
                                            <span>Show off your skills</span>
                                        </li>
                                        <li>
                                            <span>Share and gain knowledge</span>
                                        </li>
                                        <li>
                                            <span>Learn to center a div</span>
                                        </li>
                                    </ul>
                                </div >
                            </div>
                        </div>
                        <div class="pricing-table-cta mb-8">
                            <a href="https://github.com/Geometrein/dashmap.io" class="btn btn-primary" role="button" aria-pressed="true">Github Repo</a>
                        </div>
                    </div>
                </div>
                <div class="pricing-table">
                    <div class="pricing-table-inner is-revealing">
                        <div class="pricing-table-main">
                            <div class="pricing-table-header pb-24">
                                <span class="pricing-table-price-currency h3">Sponsor 💰</span>
                                <div class="pricing-table-price">
                                    <ul class="pricing-table-features list-reset text-xs">
                                        <li>
                                            <span>Extend DashMaps lifespan</span>
                                        </li>
                                        <li>
                                            <span>Support an open source ecosystem</span>
                                        </li>
                                        <li>
                                            <span>Fuel DashMaps expansion</span>
                                        </li>
                                        <li>
                                            <span>Make DashMap faster</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-table-cta mb-8">
                            <a href="https://github.com/sponsors/Geometrein" class="btn btn-primary" role="button" aria-pressed="true">Github sponsors</a>
                            <a href="https://www.paypal.com/donate?hosted_button_id=TEYGAM8KZZ3Q4" class="btn btn-primary" role="button" aria-pressed="true">Pay Pal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pricing-header text-center">
    <p class="section-paragraph mb-0"> 
        It costs 15€/month to keep the site up and running.
        We can quite comfortably support the project on our own,<br> and we are not greedy, so please only donate if you feel like showing appreciation.<br>
        Cheers!<br><br> - DashMap Team<br>
    </p>
</div>

{% endblock %}